.container {
margin: 50px;
}

.card-header {
  background-color: rgb(69, 168, 214);
  border-bottom: solid white;
}

.card-body {
  background-color: rgb(54, 71, 84);
}

h4, p, span, button {
  color: rgba(255, 255, 255, 0.916);
}

button {
  margin: 5px 20px;
  padding: 7px;
  background-color: rgb(69, 168, 214);
  border: solid 1px white;
  border-radius: 3px;
}

span {
  font-weight: bold;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgb(49, 132, 170);
}

.text-center {
  border: 2px solid white;
  padding: 10px;
}

.text-center::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
}






